<h1>Who We Are</h1>
<p>The Joseph F. O'Brien Memorial Foundation was founded by Matt O'Brien, the son of Joe, who the organization is named after. Joe was a great family man and friend, who taught about and acted on behalf of a firm belief in work-play balance. A balanced life is hard to achieve, and Joe would be the first one to tell you he didn't spend enough time enjoying life the way he had imagined he could. This foundation is built atop those principles; we stand for allowing fun to get in the way of work. We firmly believe that we can have a great and positive impact on the world and have a great time in the process. Come <%=link_to "join us", signup_path, {:class=>"link"}  %> for our golf event this year, and you'll see what we mean.</p>

Check out our <a href="http://blog.jfomf.org", class="link">blog</a> to learn more!
