<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
For any questions regarding our mission or the 2015 JFO Classic, please contact Matt directly at 484-347-0080, or email matt.r.obrien@gmail.com</p>