<div class="center jumbotron">
<div id="recap-link">
<p>Check out last year's <%= link_to 'fun!', recap_path %></p>
</div>
<div id="homepage-title">
  <h1>3rd Annual Joseph F. O'Brien Memorial Golf Classic to be held on June 6, 2015
  </h1>
  </div>

  <br/>
  <br/>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<div class="alexmorgan">
	<%= image_tag("alexmorgan.jpg", :alt => "Alex Morgan Working Out" %>
	</div>

<%= render 'layouts/sponsors' %>