<div class="center jumbotron">
  <h1>3rd Annual Joseph F. O'Brien Memorial Golf Classic to be held June 6, 2015!</h1>
  <br/>
  <br/>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>