<div>
<h2>Stay tuned. The winner of the 50/50 raffle will be announced on March 31!</h2>
</div>

<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=15979079858&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/jfo-raffle-tickets-15979079858?ref=etckt">JFO Raffle!</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

<div>
<h2>POT: $715.00</h2>
</div>