<div>
<h2>AND the winner is...</h2>
<h1>Dan Statler!</h1>
</div>

<div>
<p>Congratulations, Dan. Dan's won half of the total pot, pocketing $1,015! The other $1,015 will go directly toward our partner organization, Stand Up To Cancer. Thank you to everyone for participating. It's a great step forward for us and brings a lot of momentum into the upcoming golf outing. Don't forget to sign up <a href="http://jfomf.org/signup">today!</a></p>
<p>A special thanks goes out to SKF and its volunteers, Carol, Rita, Marjorie, Jackie, Adam, and Deb Otto. Also, a great deal of time went into raising these funds, especially from Cathy O'Brien and her daughters Kirsten and Shannon. Thanks everyone!</p>
</div>

<div>
<h2>TOTAL POT: $2,030.00</h2>
</div>