      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
          </div>
          <h1>The 2014 JFO Classic</h1>
          <hr/>
        </div>
      </div>

      <div class="row">
      <section class="center">
        <div class="large-12 columns">
          <%= link_to image_tag("2014_champs.jpg", :alt => "2014 JFO Classic Champions", :style => "length: 1000px; height: 500px;") %> 
        </div>
      </div>

      <div>
        <h1>The 2014 Champs!</h1>
        <h2>Keith and Maria Olinick, Anthony Gambone, and Eric McMahon</h2>
      </div>
      <div><p>Find the rest of the photos from the 2014 JFO Classic <a href="https://www.flickr.com/photos/131265214@N02/sets/72157648508158164/">here.</a></p></div>
      </section>

      <!--

      <div class="row">
        <hr>
        <div class="large-8 columns">
          <h4>About</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          <i class="fi-social-twitter"></i>
        </div>
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]">
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>Work</h4>
          <p>Click on each image!</p>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
              <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 2 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 3 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 4 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 5 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>       
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li> 
          </ul>
        </div>
      </div>-->