<% provide(:title, 'Sign up') %>
<h1>Sign up for the 2015 JFO Classic Here!</h1>
<section class="center">
<div id="regtable">
<section id="golfreg">
<%= form_tag charges_path do %>
  <article>
  <h3 class="center">Golfer's Registration</h3>
  <p class="golfreg-title"><u>Included in Golf Registration</u>:</p>
  <ul class="golfreg-text">
    <li>18 Holes of best-ball, shotgun-style golf at the prestigious Lederach Golf Club</li><br>
    <li>All-You-Can-Eat Dinner and Drinks, including a full "Signature Sandwich" buffet and, of course </li>
    </ul>
    <p class="golfreg-title"><u>Schedule</u>:</p>
    <div class="golfreg-text">
    <p>REGISTRATION: 1:00-2:00pm</p>
    <p>SHOTGUN START: 2:00pm</p>
    <p>COCKTAIL HOUR: 6:30-7:30pm</p> 
    <p>DINNER BUFFET: 7:30-8:30pm</p>
    <p>AWARDS, RAFFLE: 8:30pm</p>
    </div>
    </article>
    <div class="center">
    <label class="amount">
      <span>Amount: $105.00</span>
    </label><br>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Golfer's Registration"
          data-amount="10500"></script>
<% end %>
</div>
</section>

<section id="dinneronly">
<%= form_tag charges_path do %>
  <article>
  <h3 class="center">Dinner Only</h3>
  <p class="golfreg-title"><u>Included in Dinner Registration</u>:</p>
  <ul class="golfreg-text">
    <li>All-You-Can-Eat Dinner "Signature Sandwich" buffet</li><br>
    <li>All-You-Can-Drink Domestic and Imported Beer</li>
    </ul>
    <br>
    <br>
  <p class="golfreg-title"><u>Signature Sandwich Buffet</u>:</p>
<div class="golfreg-text">
<p>Top Round of Roasted Beef w/Au Jus</p>
<p>Sausage, Peppers & Onions</p>
<p>Meatballs in Marinara Sauce</p>
<p>Potato Salad and Caesar Salad</p>
<p>Hearth Baked Club Rolls and Iced Tea</p>
</div>
</article>
<div class="center">
    <label class="amount">
      <span>Amount: $35.00</span>
    </label><br>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Golfer's Registration"
          data-amount="3500"></script>
<% end %>
</div>
</section>
<div class="italicreg">
<p><i>*Food will be served immediately following the tournament, at roughly 7pm</i></p>
    <p><i>*Beer will be served from the start of registration until it runs out!</i></p>
    </div>
</div>
</section>