<p>All Posts</p>
<% @posts.each do |post| %>
<div class="post_wrapper">
<h1 class="title"><%= link_to post.title, post %> </h1>
<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %> </p>
</div>
<% end %>
<br>
<br>
<br>
<% if !user_signed_in? %>
<p class="sign_in">Admin Login</p>
<% end %>
<% if user_signed_in? %>
<div class="buttons">
 <button class="button"><%= link_to "New Post", new_post_path %></button>
 <button class="button">Log Out</button>
</div>

<% end %>

<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "Alert") %>
<% end %>
