       

      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
          </div>
          <h1><small>We're <b>Joe</b> Cool. This is our blog.</small></h1>
          <hr/>
        </div>
      </div>
     
       
     
     
       
     
      <div class="row">
     
         
        <div class="large-9 columns" role="content">

        <!--Article Number 1
     
          <article>
     
            <h3><a href="#">Blog Post Title</a></h3>
            <h6>Written by <a href="#">Matt O'Brien</a> on February 7, 2015.</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
              </div>
              <div class="large-6 columns">
                <img src="http://placehold.it/400x240&text=[img]"/>
              </div>
            </div>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
          </article>
     
          <hr/>

     <!--Article Number 2-->

          <article>
     
            <h3><a href="#">The Inaugural Blog Post</a></h3>
            <h6>Written by <a href="#">Matt O'Brien</a> on February 15, 2015.</h6>
     
            <div class="row">
              <div class="large-6 columns">
                <p>Welcome to the "grand opening" of the new and improved JFO Classic website, now dedicated to all the goings-on of the Joseph F. O'Brien Memorial Foundation, incorporated in the state of Pennsylvania. We're a nonprofit, soon-to-be 501(c)(3) organization that seeks to improve the lives of those impacted by the deadly nature of cancer. As you all probably know, our organization was created in the memory of the late Joseph F. O'Brien, an amazing father, husband, and friend. In his honor, the JFO Memorial Foundation will always stand up for those who can't stand up for themselves. That is our promise, and we intend to keep it.</p>
                <p>The JFO Memorial Foundation isn't all about the economic impact we can make for the surrounding cancer-stricken community; we focus just as much on our immediate surroundings to better the lives of our family, friends, and everyone who wishes to have fun and contribute to building a better world.</p>
              </div>
              <div class="large-6 columns">
              <figure>
                <%= link_to image_tag('family_2014.jpg') %>
                <figcaption>The O'Brien Family c. 2014</figcaption>
                </figure>
              </div>
            </div>
     
            <p>The past two years have proved to be a great start for our organization, ultimately ending up with $5,000 donated directly to Stand Up To Cancer, an amazing charity that creates superstar research teams with the goal of ending the threat of cancer once and for all.</p>
     
            <p>In 2015, our organization hopes to raise $5,000 to again support Stand Up To Cancer. Together we'll end cancer, and we're damn sure going to have some fun along the way. Join the movement today!</p>

            <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
     
          </article>
     
        </div>