

      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
          </div>
          <h1><small>We're <b>Joe</b> Cool. This is our blog.</small></h1>
          <hr/>
        </div>
      </div>






      <div class="row">


        <div class="large-9 columns" role="content">

        <!---Article Number 3-->

        <article>

            <h3><a href="http://golf.about.com/cs/golfterms/g/bldef_stringit.htm">The String, Explained</h3></a>
            <h6>Written by <a href="#">Matt O'Brien</a> on April 30, 2015.</h6>

         <div>
<h2>Still confused about the string?</h2>
<p>Here's an explanation of the "String It Out" game, quoted from About.com.</p>

<blockquote>"In String It Out - sometimes called simply "String" - all players are issued a length of string prior to the round's start. The string can be used at any time during the round by a player who wants to improve his lie.</p>

<p>Example: Your ball is sitting down in heavy rough, but if you could move it just one foot, you'd have a great lie. OK, take out your length of string, string it out in the direction you want to move the ball. If the string reaches the point where you'd like to place your ball, you can move the ball.The catch is that each time you use your string, you must cut off the amount of string corresponding to the distance your ball was moved. Move your ball 15 inches to get out of a bunker, cut 15 inches off your string (a ball can be moved out of any hazard other than a water hazard).The string can be used at any time, but, obviously, must be used judiciously or it runs out pretty quickly."
</p>
</blockquote>

<p>More questions about the string? Comment on <a href="https://facebook.com/JFOGolfOuting" our Facebook page</a>
</div>


            </div>


          </article>

        <!---Article Number 2-->

          <article>

            <h3><a href="#">March 2015 Raffle</a></h3>
            <h6>Written by <a href="#">Matt O'Brien</a> on April 1, 2015.</h6>

         <div>
<h2>AND the winner is...</h2>
<h1>Dan Statler!</h1>
</div>

<div>
<p>Congratulations, Dan. Dan's won half of the total pot, pocketing $1,015! The other $1,015 will go directly toward our partner organization, Stand Up To Cancer. Thank you to everyone for participating. It's a great step forward for us and brings a lot of momentum into the upcoming golf outing. Don't forget to sign up <a href="http://jfomf.org/signup">today!</a></p>
<p>A special thanks goes out to SKF and its volunteers, Carol, Rita, Marjorie, Jackie, Adam, and Deb Otto. Also, a great deal of time went into raising these funds, especially from Cathy O'Brien and her daughters Kirsten and Shannon. Thanks everyone!</p>
</div>

<div>
<h2>TOTAL POT: $2,030.00</h2>
</div>
            </div>


          </article>

          <hr/>

     <!---Article Number 1-->

          <article>

            <h3><a href="#">The Inaugural Blog Post</a></h3>
            <h6>Written by <a href="#">Matt O'Brien</a> on February 15, 2015.</h6>

            <div class="row">
              <div class="large-6 columns">
                <p>Welcome to the "grand opening" of the new and improved JFO Classic website, now dedicated to all the goings-on of the Joseph F. O'Brien Memorial Foundation, incorporated in the state of Pennsylvania. We're a nonprofit, soon-to-be 501(c)(3) organization that seeks to improve the lives of those impacted by the deadly nature of cancer. As you all probably know, our organization was created in the memory of the late Joseph F. O'Brien, an amazing father, husband, and friend. In his honor, the JFO Memorial Foundation will always stand up for those who can't stand up for themselves. That is our promise, and we intend to keep it.</p>
                <p>The JFO Memorial Foundation isn't all about the economic impact we can make for the surrounding cancer-stricken community; we focus just as much on our immediate surroundings to better the lives of our family, friends, and everyone who wishes to have fun and contribute to building a better world.</p>
              </div>
              <div class="large-6 columns">
              <figure>
                <%= link_to image_tag('family_2014.jpg') %>
                <figcaption>The O'Brien Family c. 2014</figcaption>
                </figure>
              </div>
            </div>

            <p>The past two years have proved to be a great start for our organization, ultimately ending up with $5,000 donated directly to Stand Up To Cancer, an amazing charity that creates superstar research teams with the goal of ending the threat of cancer once and for all.</p>

            <p>In 2015, our organization hopes to raise $5,000 to again support Stand Up To Cancer. Together we'll end cancer, and we're damn sure going to have some fun along the way. Join the movement today!</p>

            <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>

          </article>

        </div>
