// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#golfreg {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	word-wrap: break-word;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-radius: 40px;
	margin: 0px auto;

}

#dinneronly {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	word-wrap: break-word;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-radius: 40px;
	margin: 0px auto;
} 

#regtable {
	text-align: center;
}