// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carousel-slide1 {
	width: 100px;
	height: 100px;
	
}

.logos {
	display: inline-block;
	word-wrap: break-word;
}

.logo-text {
	font-size: 1.7em;
}

.logo-image {
	text-align: center;
	padding: 0px auto;
	width: 150px; 
	height: 180px; 
}

.golfreg-title {
	text-align: left;
	padding: 5px;
	font-style: oblique;
}

.golfreg-text {
	text-align: left;
	margin-left: 10px;
}

.italicreg {
	padding-top: 20px;
}

.sponsor-btn {
	margin-top: 20px;
	text-align: center;
}

#recap-link {
	display: inline-block;
	padding: 5px; 
	float: right;
}

#homepage-title {
	float: right;
	margin-bottom: 20px;
	margin-top: -20px;
}

figure {
    display: inline-block;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

#raffle {
	background: #C0C0C0;
	}